{% extends "voc2.j2" %}

{% block summary %}
<p> Zwangerschapsregistraties geven aan dat er een medische observatie heeft plaatsgevonden die een zwangerschap
    heeft vastgesteld die bijgevolg kan worden geregistreerd. Het Vocabularium Zwangerschapsregistratie bevat specifieke termen voor het 
    Implementatiemodel Vitalink-Zwangerschapsregistratie. Generieke termen worden hierin niet opgenomen. 
</p>
{% endblock %}